
body {
    font-family: "Helvetica", Arial, san-serif;
    text-align: center;
    margin top: 100px;
    background colour: #f5f5f5;
}

h1 {
    margin-bottom: 30px;
}

#startBtn {
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #f0a139;
    color: white;
    cursor: pointer;
}

#startBtn:hover {
    background-color: #e48912;
}

#clearBtn {
    padding: 10px 10px;
    font-size: 11px;
    border: line;
    border-radius: 10px;
    border-color: #f03939;
    background-color: #f5f5f5;
    color: #f03939;
    cursor: pointer;
}

#clearBtn:hover {
    transform: 0.5s ease; 
    background-color: #c92828;
    color: white;

}